.header {
    font-weight: 700;
    font-size: 24px;
    color: #b38e57;
}

.perils-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 10px;
}

.links-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 10px;
}

.peril {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.underwriter-info {
    font-size: 8px;
}
